
body {
    padding:0px;
    margin:0px;
}
.container {
    max-width: 1000px;
    margin: 0px auto;
    height: auto;
    position: relative;
}
.container > header{ 
    background-image: url(https://iap-poly.s3.ap-southeast-1.amazonaws.com/wallpaper/hero3.JPG?fbclid=IwAR15AUsvOgZGnip3gywPuPnaCXlsypsu4tgjlLmppM_ZQti_TGh8MWaynIU);
    background-size:100% 100%;
    height:0px;
    padding-bottom:25%;
    position: relative;
}
.company-info{
    width: 300px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 15px;
    
    
}
.company-info>h1{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: white;
    font-size: 35px;
    border-bottom: 1px dotted red;
    text-shadow: 0 0 5px orangered;
    
}
.company-info>h5{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: orangered;
    font-size: 20px;
    border-bottom: 1px dotted red;
    letter-spacing: 2px;
    
    

}
.container > nav{
    line-height:40px;
    background-color:orangered;
    color:white;
    text-align:center;
    font-variant:small-caps;
}

.container > aside{
    height:auto;
    width:28%;
    background-color:white;
    float:right;
}
.container > footer{
    border-top:5px double orangered;
    line-height:50px;
    background-color:lightcyan;
    text-align:center;
    font-variant:small-caps;
    clear:both;
}
.container > nav > a{
    color:white;
    text-decoration:none;
    margin:0px 10px;
}
.vmenu > nav > a:hover{
    color:yellow;
    text-decoration:underline;
}
iframe[name=page]{
    width: 100%;
    min-height: 400px;
}
.vmenu{
    padding: 0px;
    margin: 5px;
    list-style-type: none;
    border-radius: 3px;
    box-shadow:0 0 2px orange ; 
}
.vmenu>li>a{
    background: url('bullet-orange.png') no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orange;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
    line-height: 30px;
    color: orange;
}

.vmenu>li{
    border-bottom: 1px dotted orangered;
}
.vmenu>li>a:hover{
    background: url('bullet-red-alt.png') no-repeat 10px center;
    text-decoration: underline;
    color: white;
    background-color: orangered;
    display: block;
}
.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}
.menu>ul>li{ 
   display: inline-block;
   position:relative
}

.menu>ul>li>a {
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
    display: block;
    
}
.menu ul li a:hover{
    color: yellow;
    background-color: orangered;
    color: white;
}
.menu ul ul {
    position:absolute;
    display:none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display:block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
} 
.menu>ul>li:hover>ul{
    display:block;
}

