table{
    border-collapse: collapse;
    text-align: center;
    border-color: blue;
}
th{
    background-color: blue;
    color: white;
}
td{
    height: 30px;

}
tr:nth-child(2n+1){
    background-color: rgb(181, 179, 179);
}